*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: monospace;
}

main {
  position: relative;
  width: 350px;
  margin: 200px auto;
  background-image: linear-gradient(
    120deg,
    rgba(9, 173, 160, 0.7) 30%,
    rgba(116, 40, 238, 0.5),
    rgb(243, 43, 183, 0.5) 90%
  );
  border-radius: 10px;
  color: transparent;
  background-clip: text;
  box-shadow: -6px 6px 3px dodgerblue;
}

main > :nth-child(2) {
  margin-left: 30px;
}

input {
  margin-top: 20px;
}
h2 {
  font-size: 30px;
}

.background-container {
  background-color: salmon;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  border-radius: 10px;
}

ul li {
  margin-bottom: 20px;
  font-size: 18px;
  list-style-type: none;
}

.filter {
  display: flex;
  flex-direction: column;
}

.remove-button {
  width: 200px;
}

.todo-field {
  display: flex;
  flex-direction: column;
}

#horizontal-lines {
  font-size: 20px;
}

.gradient-test {
  border: 5px red;
  background-image: linear-gradient(
    120deg,
    rgba(9, 173, 160, 0.7) 30%,
    rgba(116, 40, 238, 0.5),
    rgb(243, 43, 183, 0.5) 90%
  );
  height: 650px;
  width: 350px;
  position: absolute;
  top: 0;
  left: 102%;
  color: red;
}

.gradient-label {
  transform: translate(20px, 155px) rotate(45deg);
  font-size: 40px;
  opacity: 0.5;
}

input {
  background-image: linear-gradient(
    120deg,
    rgba(9, 173, 160, 0.7) 30%,
    rgba(116, 40, 238, 0.5),
    rgb(243, 43, 183, 0.5) 90%
  );
  border-radius: 10px;
  outline: 10px solid rgba(116, 40, 238, 0.5);
  outline-width: 2px;
  box-shadow: 2px 2px 2px rgba(9, 173, 160, 0.7);
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 20px;
  width: 15px;
  height: 15px;
}
