*,
::before,
::after {
  box-sizing: border-box;
}

main {
  width: 300px;
  margin: 200px auto;
  background-color: rgb(196, 143, 64);
  border-radius: 10px;
}

main > * {
  margin-left: 50px;
}

input {
  margin-top: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.remove-button {
  width: 200px;
}
